

/*================ Normal desktop :992px.==================== */

@media (min-width: 992.98px) and (max-width: 1169.98px) {
	h1,h2{
		font-size: 26px;
	}
	p{
		font-size: 16px;
	}
	.arrow {
	font-size: 40px;
	color: #FF455C;
	padding-top: 40px;
	}
	.line::before{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: black;
		top: 80%;
		left:55%;
	}
	.line::after{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: black;
		top: 80%;
		left:25%;
	}
	#footer{
		text-align: center;
	}
}



/*================ Tablet desktop :768px.==================*/

@media (min-width: 768.98px) and (max-width: 991.98px) {
	p{
		font-size: 14px;
	}
	h1,h2{
		font-size: 24px;
	}

	#sectone-one .top{
		order: 0;
	}
	.arrow {
	font-size: 30px;
	color: #FF455C;
	padding-top: 0px;
	}
	.line::before{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: black;
		top: 88%;
		left:55%;
	}
	.line::after{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: black;
		top: 88%;
		left:25%;
	}
}



/*================== small mobile :320px. ===================*/

@media (max-width: 767.98px) {
	p{
		font-size: 14px;
	}
	h1,h2{
		font-size: 22px;
	}

	.hadder-text{
	padding:0px;
	}
	#new button, input{
		margin-top: 0px;
	}

	#b { order: 1; }
	#a { order: 2; }
	#section-two{
	}
	#section-two img{
		bottom: 0%;
		}	 
	#section-two.top{
		order: 0;
	}
	.arrow {
	font-size: 20px;
	color: #FF455C;
	padding-top: 0px;
	}
	.line::before{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: black;
		top: 88%;
		left:55%;
	}
	.line::after{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: black;
		top: 88%;
		left:25%;
	}
		#footer{
		text-align: center;

	}


}



/* ======================Large Mobile :480px.================== */

@media only screen and (max-width: 480.98px) and (max-width: 767.98px) {
	p{
		font-size: 14px;
	}
	h1,h2{
		font-size: 20px;
	}
	.hadder-text{
	margin:0px;
	}


	#b { order: 1; }
	#a { order: 2; }
	#section-two img{
		
	}
	.arrow {
	font-size: 20px;
	color: #FF455C;
	padding-top: 0px;
	}
	.line::before{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: black;
		top: 86%;
		left:55%;
	}
	.line::after{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: black;
		top: 86%;
		left:25%;
	}
	.learn i{
	color: #fff;
	padding: 0px;
	font-size: 20px;
	}
		#footer{
		text-align: center;
	}

}