	/*

	*******************************************
	*******************************************

	==== CSS INDEX

	01 - IMPORTED CSS
	02 - DEFAULT CSS
	03 - NAV CSS
	04 - HADDER CSS
	05 - NEW ID CSS
	06 - SECTION ON ID CSS
	07 - SECTION TWO ID CSS
	08 - FOOTER CSS


	*/

	/*================================================
	01 - IMPORTED CSS
	==================================================*/

	@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

	/*================================================
	02 - DEFAULT CSS
	==================================================*/
	html {
	  scroll-behavior: smooth;
	}

	body {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-size: 19px;
		font-weight: 400;
		line-height: 2.5;
	}

	h1{
		color: #150F31;

	}
	p{
		margin: 0px;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;

	}
	 a{
		color: white;
	}
	a:hover{
		color:#FF455C;
	}

	.hideme
	{
	    opacity: 0;
	    overflow: hidden;
	    width: 0%;
	    height: 50px;
	    margin: 50px;
	    
	   
	    -webkit-transition: width 1000ms ease-in, opacity 1s ease-out;
	    -moz-transition: width 1000ms ease-in, opacity 1s ease-out;
	    -o-transition: width 1000ms ease-in, opacity 1s ease-out;
	    transition: width 1000ms ease-in, opacity 1s ease-out;
	}
	.active
	{
	  opacity: 1;
	  width: 100%;
	}
	.content{
		display: none;
	}
	.preloder{
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform:translate(-50%, -50%);
	}


	/*================================================
	03 - NAV CSS
	==================================================*/

	.navbar-default{
	  transition:500ms ease;
	  background:transparent;
	}
	.navbar-default.scrolled{
	  background: rgb(0,0,0,0.6);
	}


/*================================================
	04 - HADDER CSS
==================================================*/

	#hadder button{
		background-color: #150F31;
		color: white;
		width: 100%;
	    border-radius: 20px;
	}
	#hadder h1, p{
		line-height: 25px;
	}
	.hadder-text{
		margin-left:80px;
		margin-right: 80px;
	}
	#carouselExampleIndicators ol li{
		height: 10px;
		border-radius: 12px;
	}
	.top-img{
		position: relative;
	}
	.top-img .img-2{
		position: absolute;
		top: 0;
		left: 0;
	}
	.search input{
		border: 0px;
	}
	#hadder input{
		
		margin-top: 0px;
	}

	.line::before{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: rgb(0,0,0,0.4);
		top: 67%;
		left:55%;
	}
	.line::after{
		content: '';
		position: absolute;
		height:1px;
		width: 20%;
		background-color: rgb(0,0,0,0.4);
		top: 67%;
		left:25%;
	}
	.search-container input{
		border:0px;

	}
	.search-container{
			border-bottom: 1px solid black;
			top:0%;
			bottom: 0%;
	}
/*================================================
	05 - NEW ID CSS
==================================================*/
	#New{
		background: url('../asset/hadder-bg.png');
		background-position: center center;
		background-size: cover;
		
	}

	#New  ul{
		padding: 0;
	}
	#New li{
		list-style: none;
		display: inline-block;
	}
	#New i{
		color: #fff;
		padding: 18px;
		font-size: 50px;
		margin-bottom: 20px;
	}
	#new button, input{
		width: 100%;
		background-color: #DB3539;
		border: 0px;
		text-align: center;
		margin-bottom: 50px;
		
		
	}
	.input-group{
		margin-top: 40px;
	} 

/*================================================
	06 - SECTION ONE ID CSS
==================================================*/
	#section-one h1{
		font-size: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	#section-one i{
		padding-right: 10px;
		color: #FF455C;
	}
	#flex { 
		display: flex;
		flex-direction: column;
		 }


/*================================================
	07 - SECTION TWO ID CSS
==================================================*/

	#section-two i{
		padding-right: 10px;
		color: #FF455C;
	}
	.arrow {
		font-size: 44px;
		color: #FF455C;
		padding-top: 40px;
	}



	.box{
		border:1px solid black;
	}
	.box button{
		width: 100%;
		background-color: #150F31;
		border-radius: 20px;
		text-align: center;
		margin-bottom: 50px;
		color:white;
		
	}
	.box{
    height:auto;
    width:300PX;
    border:2px solid black;
	}

	.box h1{
    width: auto;
    margin-top:-30px;
    margin-left:5px;
    background:white;
	}
	.box p{
		font-size: 17px;
	}
	.box button{
		width: 70%
	}
/*================================================
08 - FOOTER CSS
==================================================*/

	footer{
		background-color: #1f1f4e;
		
	}
	footer ul{
		padding: 0;
	}
	footer li{
		list-style: none;
		display: inline-block;
	}
	footer i{
		color: #fff;
		padding: 10px;
		font-size: 25px;
	}
	footer img{
		margin: 0 auto;
	    display: block;
	}
	footer p{
		margin: 0;
		color: #fff;
		font-size: 15px;

	}
